<% if notice %>
	<p class="bg-success" style="padding: 1em">
		 <%= notice.html_safe %>
	</p>
<% end %>

<% if error %>
	<p class="bg-danger" style="padding: 1em">
		 <%= error.html_safe %>
	</p>
<% end %>